
.character-card {
  background: #FFDEAD;
  color: black;
  border: 0.625rem solid #DEB887;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.character-card.deceased {
  background: #D3D3D3 ;
  border: 0.625rem solid black;
}

.stocks img {
  width: 0.9375rem;
  margin: 0.3125rem;
}

.character-name {
  margin: 0;
}

button {
  cursor: pointer;
}
