
.character-card {
  background: #FFDEAD;
  color: black;
  border: 10px solid #DEB887;
  border-radius: 10px;
  display: flex;
}

.character-head {
  float: left;
}

.stocks img {
  width: 40px;
  margin: 5px;
}

.character-name {
  margin: 0;
}
