.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.player-one {
  width: 20%;
}

.flex-break {
  width: 20%;
}

.player-two {
  width: 20%;
}

@media (max-width: 600px) {
  .player-one {
    width: 50%;
  }

  .flex-break {
    width: 0%;
  }

  .player-two {
    width: 50%;
  }
}

.playerColumn {
  display: flex;
  flex-direction: row;
}
